#userSearch{
    text-align: center;
    margin: 10%;
}
#input,
#btn {
    padding: 10px 50px;
    border-radius: 12px;
    outline: none;
    margin: 5px;
    font-size: 22px;
}
#btn{
    cursor: pointer;
}

#meals{

    width: 80%;
    margin: 5% auto;
    
}
#mealList{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px;
}
#mealList img{
    width: 100%;
}

#details{
    width: 500px;
    margin-top: 3%;
    margin-left: 2%;
}

#details img{
    width: 200px;
}